.todo-list li label {
	word-break: break-all;
	padding: 15px 60px 15px 15px;
	width: 300px;
	margin-left: 45px;
	line-height: 1.2;
	transition: color 0.4s;
	display: inline-block;
}

.todo-list li .picker {
	display: inline-block;
	right: 0;
	text-align: center;
	margin-right: 50px;
}

.picker {
  width: 75px;
  border: 1px solid transparent;
  border-radius: 3px;
  border-color: rgba(175, 47, 47, 0.1);
}

.react-datepicker__input-container {
  width: 75px;
}
